# Data
data/bkk_radar_images/*
data/bkk_radar_images_dBZ/*
data/bkk_radar_images_mask/*
data/pd/*.pkl
data/benchmark_stat/*
models_save/*

# Original Package
HKO

# Cache
__pycache__
.DS_store
.ipynb_checkpoints/

# Logging
logs/